html{
    height: 100%;
}

body{
    background-color: #524747;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 36px;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.home{
    background-image: url(../images/horse-background.jpg);
    background-size: cover;
}

.forest{
    background-image: url(../images/forest.jpg);
}

footer{
    background-color: rgba(216, 82, 81, 0.75);
    color: #FFF;
    position: relative;
    bottom: 0;
}

header{
    background-color: rgba(216, 82, 81, 0.75);
    color: #FFF;
    height: 10vh;
}

.logo{
    width: 90px;
    margin-top: -50px;
    height: 50px;
}

h2{
    text-align: center;
    font-size: 50px;
    margin-top: 150px;
    color: #9E0E40;

}

.slogan{
   color: #FFF;
}

p{
    margin-left: 20px;
    font-size: 19px;
}

img{
    width: 55%;
    margin: 50px 25%;
}

.info{
    background-color: rgba(255, 255, 255, 0.75);
    width: 75%;
    text-align: center;
    padding: 10px;
    margin: 0 12.5%;
    font-size: 28px;
    padding-bottom: 100px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
}

li{
    float: left;
    margin-top: 8px;
    height: 50px;
}

li a {
      text-decoration:none;
      color: black;
      margin:0px 25px;
}

table{
    width: 75%;
    margin: 100px 12.5%;
    background-color: rgba(255, 255, 255, 0.75);
    color: #888;
    font-size: 16px;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: #CE4B4B;
    border: solid;
    font-size: 36px;
}

td{
    border: solid;
    margin: 0;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
